<section class="weather-card">
  <span class="city_name">{{ city }}</span>
  <div class="weather-icon__container" [ngSwitch]= "true">

    <svg class="sunny__icon" *ngSwitchCase="state === 'Sunny' || state 'Clear'">
      <use xlink:href="../../assets/img/sprite.svg#icon-sun"></use>
    </svg>
    <svg class="snowy__icon" *ngSwitchCase="state === 'Snow'">
      <use xlink:href="../../assets/img/sprite.svg#icon-snowy"></use>
    </svg>
    <svg class="cloudy__icon" *ngSwitchCase="state === 'Clouds'">
      <use xlink:href="../../assets/img/sprite.svg#icon-cloudy"></use>
    </svg>
    <svg class="rainy__icon" *ngSwitchCase="state === 'Rain' || state 'Drizzle'">
      <use xlink:href="../../assets/img/sprite.svg#icon-rainy"></use>
    </svg>
    <svg class="lightning__icon" *ngSwitchCase="state === 'Storm'">
      <use xlink:href="../../assets/img/sprite.svg#icon-lightning"></use>
    </svg>
  </div>
  <div class="condition__container">
    <span class="weather-condition__text">{{ state }}</span>
  </div>
  <div class="temperature__container">
    <span class="temperature__text">{{ temp }}</span>
    <span class="temperature__feature-text">°</span>
  </div>


<div class="min-max__container">
  <div class="min__container">
    <svg class="min-arrow__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-arrow-down2"></use>
    </svg>
    <span class="min-temperature__text">{{ minTemp }}°</span><br>
    <span class="min__text">Min</span>
  </div>
  <div class="max__container">
    <svg class="max-arrow__icon">
      <use xlink:href="../../assets/img/sprite.svg#icon-arrow-up2"></use>
    </svg>
    <span class="max-temperature__text">{{ maxTemp }}°</span><br>
    <span class="max__text">Max</span>
  </div>
</div>

</section>
