<aside class="side-menu_container" [ngClass]="{'side-menu__container-active': ''}">
  <nav class="slide-menu" >
    <section class="menu-header">
      <span class="greeting-text">Weathery Time!</span>
      <div class="user-image__container">
        <img src="" alt="user-image" class="user__image">
      </div>
    </section>
    <section class="menu-body">

    </section>
    <section class="menu-footer">

    </section>
  </nav>
</aside>
<div class="root__container">
  <header class="main__header">
    <div class="">
      <svg></svg>
      <svg></svg>
    </div>
    <h3 class="date_text">Today</h3>
  </header>
    <app-home></app-home>
    <footer class="main__footer">
      <small class="copyright__text">Copyright © 2020 IvanEntwickler</small>
    </footer>
</div>

