.city-card__container{
  display:grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: 1fr;
  width: 22rem;
  height: 35rem;
  border-radius: 7.5%;
  box-shadow: 0 0 2rem rgba(0,0,0, .1);
  animation: 1.25s ease-in-out 0ms 1 fadein;
  background-color: white;
  padding: 2rem;
}

.text__container{
  display:flex;
  justify-content: center;
}

.city-card__text{
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-size: 1.4rem;
}

.icon__container{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 22rem;
  margin-bottom: 3rem;


}

.plus__icon{
  width: 12rem;
  height: 12rem;
  cursor: pointer;
  fill: rgb(0, 255, 64)
}

.plus__icon:hover{
  mask-image:linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.6)) ;
}

.city__icon{
  width: 20rem;
  height: 15rem;
  fill: rgba(3, 3, 95, 0.4);

}
