/// layout container

.details__container{
  display: grid;
  grid-template-columns: minmax(300px, 1fr);
  grid-template-rows: 1fr;
  height: 90vh;
  width: 100vw;
  position: absolute;
  align-items: center;
  justify-items: center;
  top: 0;
  left: 0;
  z-index: -2;
  background: white;
  transition: opacity 300ms linear;


}

/// First Section (City, Temp, Wind, Humidity, State and City Illustation SVG)

.first-details__container{
  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100rem;
  height: 19rem;
  padding: 2rem;
  margin-top: 7.25rem;
  animation: 1.25s ease-in-out 0ms 1 fadein;
  background-image: url(../../assets/img/silhouette-skyline-illustration_53876-78786.jpg);

}


/// City and Temp

.city-and-temp__container{

}

/// City

.city__container{

}

.city__text{

}

/// Temp

.temp__container{

}

.temp__text{

}

/// State

.weather-state__container{

}

.state__text{

}

/// Wind and Humidity

.wind-and-hum__container{

}

/// Wind

.wind__container{

}

.wind__text{

}

.wind__value{

}

/// Humidity

.hum__container{

}

.hum__text{

}

.hum__value{

}

/// Second Section ( Weather ForeCast including Day Name, SVG Icon depending on State, Temp)

.second-details__container{

  display:grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  width: 100rem;
  height: 19rem;
  background-color: blue;
  padding: 2rem;
  animation: 1.25s ease-in-out 0ms 1 fadein;
  display:flex;
  align-items: center;
}
